@charset "ISO-8859-1";

@font-face{font-family:IBMPlex;src: url('IBMPlexSansCondensed-Regular.ttf') format('truetype')}

:root{--enFont:IBMPlex}
:root{--lightGrayColor:#f2f2f2}


.data-table{border-collapse:collapse !important;margin:0px;float:left}
.data-table td, th {padding:3px;border: 1px solid var(--mainColor) !important;font-family:var(--enFont);font-size:14px;vertical-align:top}
.data-table tr:first-child td {height:30px;font-weight:700}
 
textarea,
input[type=text],
input[type=password],
select{width:100%;padding:5px;outline:0;border-width: 0 0 1px 0;border-color:#000;transition: 0.2s ease all;margin:20px 0px;border-radius:5px}
input[type=text],input[type=password]{height:30px;width:94%}
select{height:40px;width:96%}
button{height:40px;width:96%;margin:30px 0px;font-weight:900;font-family:var(--enFont);font-size:18px}

.login-wrapper{
	display:grid;
	grid-template-columns:75% 25%;
	direction:ltr;
	width:70%;
	margin:20px auto 0px auto
}


.app-title{
	padding-top:15px;
	font-weight:700;
	font-size:40px;
	font-family:var(--enFont)
}

.main-wrapper{
	display:grid;
	grid-template-columns:35% 5% 60%;
	direction:ltr;
	width:70%;
	margin:30px auto 100px auto;
	min-height:500px;
	
}
.main-wrapper > div:nth-child(odd){
	padding:15px;
	background:var(--lightGrayColor);
	border:1px solid #ccc;
	border-radius:5px;min-height:600
}

.cart-header{
	display:grid;
	grid-template-columns:75% 15% 10%;
	direction:ltr;
	width:95%;
	height:40px;
	border-bottom:1px solid #000
	
}
.cart-header > div{
    font-family:var(--enFont);
	font-weight:700;
	font-size:20px;
	
}

.quantity-wrapper{
	display:grid;
	grid-template-columns:60% 10% 10% 10% 10%;
	direction:ltr;
	width:95%
	
}

.quantity-wrapper > button{
	height:30px;
	font-weight:900;
	font-size:16px;
	margin-top:20px;
	
	
}

.discount-wrapper{
	display:grid;
	grid-template-columns:10% 5% 85%;
	direction:ltr;
	width:95%
}

.discount-wrapper > div{
	font-size:16px;
	margin-top:28px
}

.errormsg{
	font-size:15px;
	color:#FF0000;
	font-weight:700;
	font-family:var(--enFont);
	text-align:left !important
}

.dboard-wrapper{
	display:grid;
	grid-template-columns:25% 5% 65%;
	direction:ltr;
	width:70%;
	margin:30px auto 100px auto;
	min-height:500px;
}

.dboard-wrapper > div:nth-child(1){
  	border-right:1px solid #ccc
}

.dboard-wrapper > div:nth-child(1) > ul{list-style-type:square}
.dboard-wrapper > div:nth-child(1) > ul li{display:inblock;margin:10px;height:35px}
.dboard-wrapper > div:nth-child(1) > ul li a{font-family:var(--enFont);font-size:17px;cursor:pointer;color:blue}

.page-tiltle{
	font-weight:700;
	font-size:30px;
	font-family:var(--enFont);
	margin-top:-5px
}

.list-row{
	display:grid;
	grid-template-columns:15% 60% 25%;
	direction:ltr;
	width:100%;
	height:35px;
	border-bottom:1px solid #ccc
}

.list-row div{font-family:var(--enFont);font-size:17px}

.selected-item-row{
	display:grid;
	grid-template-columns:35% 12% 15% 18% 15% 5%;
	direction:ltr;
	width:100%;
	height:35px;
	border-bottom:1px solid #ccc;
	
}

.selected-item-row div{padding:3px}

